<!DOCTYPE html>
<html lang="en">
<style>

    .bold{
        font-weight: bold;
    }

    .center {
      margin: auto;
      width: 50%;
      padding: 10px;
    }

    .italics {
        font-style: 'italics';
    }


</style>
<head>
    <meta charset="UTF-8">
    <title>Address Alteration</title>
</head>
<body >
    <div class="center">
        <div>
            Dear {user},
        </div>
        <div>
            This is to inform you that an address has been added to your account.
        </div>

    </div>
    <footer class="center">
        <div class="italics"> Do not reply to this email. Send from unmonitored mailbox</div>
        <div>&copy; All rights reserved.</div>
         </footer>
</body>
</html>